.wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
}

.admin_sidebar {
    width: 287px;
    margin-right: 33px;
}

.searchpanel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 1153px;
}